In [4]:
type(1)

int

In [5]:
type("Hello")

str

In [6]:
type(True)

bool

In [7]:
type(1.0)

float

- Strings

In [8]:
"hello"

'hello'

In [9]:
'hello'

'hello'

In [10]:
type("Hello")

str

In [11]:
type('Hello')

str

In [12]:
# var name = value

In [13]:
a = 10

In [14]:
type(a)

int

In [15]:
a = "MDL"

In [16]:
type(a)

str

In [18]:
a= 10
b = 20

In [20]:
print(a + b)
print(a*b)
print(b%a)
print((a*b)+(a/b))

30
200
0
200.5

In [26]:
s = "SSM"
print(s)

SSM

In [2]:
s = "Ram is"
age = 25
city = "Lonere"
print(s, age, city)

Ram is 25 Lonere

In [22]:
print('MDL')

MDL

In [12]:
first_name = 'sahil'
last_name = 'mali'

In [14]:
print("My first name is {} and Last name is {}".format(first_name,last_name))

My first name is sahil and Last name is mali

In [16]:
print("My first name is {} and Last name is {}".format(last_name,first_name))

My first name is mali and Last name is sahil

In [18]:
print("My first name is {first} and Last name is {last}".format(first = first_name, last = last_name))

My first name is sahil and Last name is mali

In [20]:
print("My first name is {first} and Last name is {last}".format(last = last_name, first = first_name))

My first name is sahil and Last name is mali

In [22]:
print("Python", end='@')
print("programming")

Python@programming

In [30]:
print('sahil', 'dbatu.ac.in', sep='@')

sahil@dbatu.ac.in

In [6]:
print('G', 'F', 'G', sep='')

GFG

In [7]:
print('09', '02', '2025', sep='-')

09-12-2016

In [28]:
name = 'sahil'
age = 23
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is sahil and I'm 23 years old.

In [10]:
num = int(input("Enter a value: "))

add = num + 5

print("The sum is %d" %add)

Enter a value:  5

The sum is 10

In [ ]:
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

In [2]:
x, y, z = input("Enter three values: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

Enter three values:  60  30  30

Total number of students:  60
Number of boys is :  30
Number of girls is :  30

In [8]:
age_input = input("Enter your age: ")

age = int(age_input)

if age < 0:
    print("Please enter a valid age.")
elif age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

Enter your age:  66

You are a senior citizen.

In [32]:
name = input("Enter your name: ")
print("Hello,", name, "! Welcome!")

Enter your name:  sahil

Hello, sahil ! Welcome!

In [10]:
color = input("What color is rose?: ")
print(color)

What color is rose?:  pink

pink

In [11]:
n = int(input("How many roses?: "))
print(n)

How many roses?:  5

5

In [12]:
price = float(input("Price of each rose?: "))
print(price)

Price of each rose?:  23.50

23.5

In [1]:
a = "Hello World"
b = 10
c = 11.22
d = ("Computers", "for", "students")
e = ["Computers", "for", "students"]
f = {"Computers": 1, "for":2, "students":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.
<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>