In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [3]:
def my_function(fname):
  print(  "Engineer " + fname)
my_function("Mitchell")
my_function("Harsh")
my_function("Ir)

SyntaxError: unterminated string literal (detected at line 5) (1555047185.py, line 5)

In [5]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("sahil", "mali")

sahil mali

In [7]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("sahil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [9]:
ef my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("rohit", "Akbar", "hardik")

SyntaxError: invalid syntax (1957821498.py, line 1)

In [11]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Ram", child2 = "Krishna", child3 = "Hari")

The youngest child is Hari

In [13]:
def my_function(**kid):
  print("His first name is " + kid["fname"])
  print("His last name is " + kid["lname"])

my_function(fname = "sahil", lname = "mali")

His first name is sahil
His last name is mali

In [15]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [17]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [19]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [21]:
def myfunction():
  pass

In [23]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [25]:
def my_function(x):
  print(x)

my_function(x = 3)

3

In [27]:
  print(x)

my_function(x = 3)

NameError: name 'x' is not defined

In [29]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [31]:
def my_function(x):
  print(x)

my_function(3)

3

In [33]:
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

In [35]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [37]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

In [39]:
x = lambda a : a + 10
print(x(5))

15

In [56]:
x = lambda a, b : a * bBasic
print(x(5, 6))

NameError: name 'Basic' is not defined

In [43]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [45]:
def myfunc(n):
  return lambda a : a * n
mydoubler = myfunc(2)

print(mydoubler(11))

22

In [47]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [49]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33