# keyword arguments

In [3]:
def my_fun(child3, child2, child1):
    print(" the yooungest chid is" + child3)

my_fun(child1 = "harry", child2 = "m", child3 = "mitchell")

 the yooungest chid isaidden

In [1]:
def my_fun(**count):
    print("his first name is " + count["fname"])
    print( "his last name is " + count["lname"])

my_fun(fname = "sahil", lname = "mali")

his first name is sahil
his last name is mali

In [14]:
def my_fun(x):
    return 5 * x
print(my_fun(3))
print(my_fun(5))
print(my_fun(9))

15
25
45

In [16]:
def my_function():
    pass

In [20]:
def my_function(x, /):
    print(x)
my_function(3)

3

In [22]:
def my_function(x):
    print(x)
my_function(3)

3

In [28]:
def my_function(*, x):
    print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

In [30]:
def my_function(a, b, /,*, c,d):
    print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

# recursion

In [47]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result

print("Recrussion example Result:")
tri_recursion(6)

Recrussion example Result:
1
3
6
10
15
21

21

In [61]:
x = lambda a: a + 10
print(x(5))

15

In [69]:
x = lambda a, b : a * b #Basic
print(x(5, 6))

30

In [73]:
def myfun(n):
    return lambda a: a *n

mydoubler = myfun(2)
print (mydoubler(11))

22

In [78]:
def myfun(n):
    return lambda a :a * n

mytripler = myfun(3)
print(mytripler(11))

33

In [82]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33